<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ .Title |html }}</title>
  </head>
  <body>
    <form action="/update" enctype="multipart/form-data" method="post">
      <input type="file" name="update" id="update" multiple="multiple">
      <input type="submit" value="update file" />
    </form>

    <p>アプリTOPへ</p>
    <p>
      <a href="https://dev.audee.jp/">https://dev.audee.jp/</a>
    </p>
    <p>
      <a href="https://dev.audee.jp">https://dev.audee.jp</a>
    </p>

    <p>番組詳細へ<p/>
    <p>
      <a href="https://dev.audee.jp/program/show/46616">https://dev.audee.jp/program/show/46616</a>
    </p>

    <p>エピソードリストへ<p/>
    <p>
      <a href="https://dev.audee.jp/voice/show/20352">https://dev.audee.jp/voice/show/20352</a>
    </p>

    <p>存在しない番組URL<p/>
    <p>
      <a href="https://dev.audee.jp/program/show/99999">https://dev.audee.jp/program/show/99999</a>
    </p>

    <p>WEB版へ</p>
    <p>
      <a href="https://dev.audee.jp/news/show/67428">https://dev.audee.jp/news/show/67428</a>
    </p>
    <p>
      <a href="https://dev.audee.jp/program/news/46616">https://dev.audee.jp/program/news/46616</a>
    </p>
    <p>
      <a href="https://dev.audee.jp/program/voice/46616">https://dev.audee.jp/program/voice/46616</a>
    </p>

    <p>おたよりへ、（ 存在しないおたよりの場合、おたより一覧へ遷移します）<p/>
    <p>
      <a href="https://dev.audee.jp/letter/read/144546">https://dev.audee.jp/letter/read/144546</a>
    </p>
    <p>
      <a href="https://dev.audee.jp/letter/read/154342">https://dev.audee.jp/letter/read/154342</a>
    </p>

    <p>
      <a href="https://dev.audee.jp/letter/read/154367">https://dev.audee.jp/letter/read/154367</a>
    </p>

    <p>認証コード</p>
    <p>
      <a href="https://dev.audee.jp/auth_code/NjA4NTk1">https://dev.audee.jp/auth_code/NjA4NTk1</a>
    </p>
    <p>認証コード：204154</p>
    <p>
      <a href="https://dev.audee.jp/auth_code/MjA0MTU0">https://dev.audee.jp/auth_code/MjA0MTU0</a>
    </p>

    <p>新着エピソード</p>
    <p>
      <a href="https://dev.audee.jp/api/openepisodepush?episode_id=24136">https://dev.audee.jp/api/openepisodepush?episode_id=24136</a>
    </p>

    <p>プッシュ通知url取得、おたより</p>
    <p>
      <a href="https://dev.audee.jp/api/letter/open?thread=154420">https://dev.audee.jp/api/letter/open?thread=154420</a>
    </p>
  </body>
</html>